@font-face {
  font-family: GiorgioSansBold;
  src: url("/fonts/GiorgioSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: GiorgioSansBoldItalic;
  src: url("/fonts/GiorgioSans-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: GothamBold;
  src: url("/fonts/Gotham-Bold.otf") format("opentype");
}

body {
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/* Style for our header texts
* --------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #ffffff;
}

h1.invert,
h2.invert,
h3.invert,
h4.invert,
h5.invert,
h6.invert,
p.invert {
  color: #000000;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-family: arial,helvetica;
  margin: 0;
  padding: 0;
  font-family: "GiorgioSansBoldItalic";
}

h2 {
  font-size: 3em;
  margin: 0 0 18px 0;
  font-family: "GiorgioSansBold",arial,helvetica;
}

h3 {
  font-size: 32px;
  margin: 0;
  font-family: "GiorgioSansBold",arial,helvetica;
}

h6 {
  text-transform: uppercase;
  font-family: GothamBold;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

form {
  width: 400px;
  text-align: left;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin: 0 0 5px 10px;
  color: #fff;
  font-size: 28px;
  font-family: "GiorgioSansBoldItalic",arial,helvetica;
  display: block;
}

label .small {
  font-size: 20px;
}

input {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 32px;
  font-family: "GiorgioSansBoldItalic",arial,helvetica;
}

input[type="checkbox"] {
  float: left;
  width: 20px;
}

/* Common styles
* --------------------------------------- */

img {
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.output {
  position: absolute;
  right: 20px;
  top: 20px;
}

.section {
  text-align: center;
  overflow: hidden;
}

.btn {
  border-radius: 8px;
  font-family: GiorgioSansBold;
  color: #6ec3bf;
  font-size: 2em;
  background: #ffffff;
  width: 155px;
  text-decoration: none;
  padding: 0 0 2px;
}

.btn:hover,
.btn:active {
  background: #ffffff;
  text-decoration: none;
}

.btn.invert {
  color: #ffffff;
  background: #6ec3bf;
}

.wrap {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.wrap .btn {
  position: absolute;
  right: 0;
  bottom: 5%;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
}

.box {
  position: absolute;
  text-align: left;
  color: #808080;
  left: -20px;
  top: 5%;
  opacity: 0;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

#section1.active .box,
#section2.active .box,
#section3.active .box,
#section4.active .box,
#section5.active .box {
  left: 0;
  opacity: 1;
}

.imgsContainer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imgsContainer h1,
.imgsContainer h2 {
  opacity: 0;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.option {
  border: 3px solid #000000;
  -webkit-transition: all 1.2s ease-in-out, border 0.2s ease-in-out;
  transition: all 1.2s ease-in-out, border 0.2s ease-in-out;
}

.option.active {
  border: 3px solid #6ec3bf;
}

/* Section 0
* --------------------------------------- */

#section0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  margin-bottom: 5%;
}

.take-the-quiz {
  margin-bottom: 30px;
}

/* Section 1
* --------------------------------------- */

#section1 {
  position: relative;
  background-image: url("/imgs/annie-spratt-87864.jpg");
  background-size: cover;
}

#section1 h1 {
  margin: 0;
  position: absolute;
  bottom: 60px;
  left: 35px;
  font-size: 8em;
}

#section1 img {
  position: absolute;
  left: 40px;
  top: 100px;
  height: 100%;
}

#section1 .option {
  position: relative;
  height: 65%;
  width: 45%;
  background-size: cover;
  margin-top: 20%;
}

#section1.active h1 {
  opacity: 1;
}

#section1.active .option {
  margin-top: 6%;
}

#cold {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background-image: url("/imgs/malte-schmidt-483114.jpg");
}

#hot {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  background-image: url("/imgs/adam-krowitz-386852.jpg");
}

/* Section 2
* --------------------------------------- */

#section2 img {
  position: absolute;
}

#section2 .imgsContainer h2 {
  margin: 0;
  position: absolute;
  bottom: 35px;
  left: 35px;
  font-size: 3.5em;
  text-align: left;
  line-height: 0.9em;
  font-family: 'GiorgioSansBoldItalic';
}

#section2 .imgsContainer .option {
  position: relative;
  height: 65%;
  width: 32%;
  bottom: 0;
  background-size: cover;
  margin-top: 20%;
}

#section2.active h2 {
  opacity: 1;
}

#section2.active .option {
  margin-top: 6%;
}

#adrenaline {
  background-image: url("/imgs/ivan-torres-376140.jpg");
  background-position: -200px;
}

#urban {
  background-image: url("/imgs/domenico-loia-274169.jpg");
  background-position: -470px;
}

#relax {
  background-image: url("/imgs/hrvoje-grubisic-376578.jpg");
  background-position: -262px;
}

/* Section 3
* --------------------------------------- */

#section3 {
  background-image: url("/imgs/taduuda-196007.jpg");
  background-size: cover;
}

#section3 .imgsContainer h2 {
  margin: 0;
  position: absolute;
  bottom: -58px;
  left: 10px;
  font-size: 2.3em;
  text-align: left;
  line-height: 60px;
  font-family: 'GiorgioSansBoldItalic';
}

#section3 .imgsContainer .option {
  position: relative;
  height: 50%;
  width: 24%;
  background-size: cover;
  margin-top: 20%;
}

#section3.active h2 {
  opacity: 1;
}

#section3.active .option {
  margin-top: 0%;
}

#alpine {
  background-image: url("/imgs/eberhard-grossgasteiger-483503.jpg");
}

#local {
  background-image: url("/imgs/z-klein-326375.jpg");
}

#beach {
  background-image: url("/imgs/spencer-watson-367233.jpg");
}

#city {
  background-image: url("/imgs/redd-angelo-269937.jpg");
}

/* Section 4
* --------------------------------------- */

#section4 {
  background-image: url("/imgs/brigitte-tohm-254381.jpg");
  background-size: cover;
}

#section4 .imgsContainer h2 {
  margin: 0;
  position: absolute;
  top: -60px;
  left: 10px;
  font-size: 2.4em;
  text-align: left;
  line-height: 60px;
  font-family: 'GiorgioSansBoldItalic';
}

#section4 .imgsContainer .option {
  position: relative;
  height: 50%;
  width: 24%;
  background-size: cover;
  margin-top: 30%;
}

#section4.active h2 {
  opacity: 1;
}

#section4.active .option {
  margin-top: 5%;
}

#seafood {
  background-image: url("/imgs/jennifer-pallian-200440.jpg");
}

#fondu {
  background-image: url("/imgs/Traditional-Swiss-Cheese-Fondue-3-640x960.jpg");
}

#course {
  background-image: url("/imgs/annie-spratt-137319.jpg");
}

#dish {
  background-image: url("/imgs/lisheng-chang-396821.jpg");
  background-position-x: 42%;
}

/* Section 5
* --------------------------------------- */

#section5 .wrap {
  width: 100%;
}

#section5 .box {
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#section5 .btn {
  right: 10%;
  bottom: 8%;
}

#section5 .imgsContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section5 .imgsContainer .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 16%;
  width: 100%;
  background-size: cover;
}

#section5 .imgsContainer .option h2 {
  font-size: 3em;
  text-align: left;
  line-height: 0.9em;
  font-family: 'GiorgioSansBoldItalic';
  width: 30%;
  margin-right: 5%;
  margin-bottom: 0;
}

#section5.active h2 {
  opacity: 1;
}

#streets {
  background-image: url("/imgs/ryan-tang-273380.jpg");
  background-position-y: -490px;
}

#thrills {
  background-image: url("/imgs/philipp-kammerer-264284.jpg");
  background-position-y: -65px;
}

#culture {
  background-image: url("/imgs/andre-benz-250740.jpg");
  background-position-y: -50px;
}

#cocktail {
  background-image: url("/imgs/jason-blackeye-284286.jpg");
  background-position-y: -20px;
}

/* Section 6
* --------------------------------------- */

.square {
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

#square1 {
  width: 18em;
  height: 18em;
}

#square2 {
  width: 36em;
  height: 36em;
}

#square3 {
  width: 54em;
  height: 54em;
}

.slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-size: cover;
}

.slide .btn {
  width: 300px;
  margin-left: -300px;
  position: absolute;
  bottom: 20%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  left: 50%;
}

#slide1 {
  background-image: url("/imgs/denys-nevozhai-185489.jpg");
}

#slide2 {
  background-image: url("/imgs/julian-andres-carmona-serrato-72101.jpg");
}

#slide3 {
  background-image: url("/imgs/orlova-maria-379607.jpg");
}

#slide4 {
  background-image: url("/imgs/simon-schoepf-204002.jpg");
}

/* Section 7
* --------------------------------------- */

#section7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */

.fp-tooltip {
  color: #fff;
}

#fp-nav span,
.fp-slidesNav span {
  border-color: #fff;
}

#fp-nav li .active span,
.fp-slidesNav .active span {
  background: #fff;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

.fp-controlArrow {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

